<%= form_for(@verse) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="settings">
  	<div class="field">
  		<%= f.label :couple_num  %>
  		<%= f.text_field :couple_num  %>  		
  	</div>  	
  	<div class="field">
  		<%= f.label :line_num  %>
  		<%= f.text_field :line_num  %>  		
  	</div>  	
  </div>      
  <div class="actions">
    <%= f.submit %>
  </div> 
  
<% end %>
