<div class="verses">
	<% @verses.each do |verse| %>
	<div class="verse">
		<%= verse.name %>(<%= verse.user.username %>)<br/>
		<%= verse.description %><br/>
		Settings - <%= verse.couple_num %>|<%= verse.line_num %>
		<%= link_to 'Show', verse %> |
		<%= link_to 'Edit', edit_verse_path(verse) %> | 
		<%= link_to 'Remove', verse, :method => :delete %>
	</div>
	<% end %>
	<%= link_to "New verse", new_verse_path  %>
</div>


