<div class="verse">
	<header>
		<div class="name">
			<%= @verse.name %>(<%= @verse.user.username %>)
		</div>
		<div class="description">
			<%= @verse.description %>
		</div>		
	</header>
	
	<div class="couples">
		<% @verse.couples.each do |couple| %>
		<div class="couple">
			<% couple.lines.each do |text_line| %>
			<div class="text_line">
				<% text_line.variants.each do |variant| %>
					<div class="text_line_variant_block">
						<span>
							<%= variant.text %>
						</span>
						<div class="info">
							Author: <%= variant.user.username %>
						</div>
					</div>
				<% end %>	
			</div>			
			<% end %>
		</di>		
		<% end %>
	</div>
</div>
